
body {
    height: 100%;
    border: 1px solid transparent;
    background-image: url('/static/farm_field.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}
html {
    height: 100%;
    border: 1px solid transparent;
    background-image: url('/static/farm_field.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}

h1 {
    font-family: Sans-Serif;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    font-display: auto;
}

input { 
    width: 75%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.562);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 50px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.home {
    position: fixed;
    top: 30%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 400px;
    height:400px;
}

.btn {
    
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    position: absolute;

}

.text_output {
    font-size: 32px;
    position: fixed;
    left:46%;
    top: 17cm;
    color: white;
    }
